<h1>からくり映像評論家</h1>
<br>
<p class="deco-font" style="text-align:center">
あなたが編集した動画を近代の最新技術、<ruby>機械学習<rt>からくり</rt></ruby>を用いて評価いたします。</ruby><br>
より万人に<ruby>流行<rt>バズ</rt>る</ruby>動画の指標となってみせましょう。<br><br>
ここで<ruby>投稿<rt>アップロード</rt></ruby>した動画は、評価情報以外は他人に公開されません。<br>
こころゆくまでお楽しみください。
</p>