<h1>ショーケース</h1>

<div id="videos" class="row" style="margin-top: 20px;">
  <% @videos.each do |video| %>
    <div class="col-md-4" style="margin-bottom: 20px;">
      <div class="card">
        <%=link_to image_tag(video.picture_url,class:"card-img-top",style:"text-align:center"),video%>
        <p style="text-align:center"><%= truncate(video.title, length: 13) %></p>
      </div>
    </div>
  <% end %>
</div>
